@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*** FORMATAÇÃO GLOBAL ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-weight: 400;   
}

body {
    background:rgb(205, 129, 116) url(./imagens/fundo/fundamentos-de-basquete-3d.jpg);
    background-repeat: no-repeat;
    background-size: cover; /***cobre 100% da tela de forma proporcional***/
    background-attachment: fixed;  /***fixa o fundo ao rolar ***/
    background-position: center center; /*** centraliza horizontal e verticalmente ***/
}

/*** CABEÇALHO ***/

#cabecalho {
    background:linear-gradient(100deg, rgb(95, 81, 159) 0%, rgb(205, 129, 116) 100%);
    height: 60px;
    box-shadow: 0px 3px 10px rgb(145, 144, 144);
    position: fixed;
    width: 100vw;
    z-index: 100; 
}

#cabecalho h1{
    line-height: 60px;
    text-align: center;
    font-family: 'Georgia', serif;
    color: black;
    text-shadow: 1px 1px #ff0000;
}

/*** FIM CABEÇALHO ***/

/*** CONTAINER ***/
#container {
    margin: auto;
    width: 720px;
    padding-top: 6em;
    min-width:720px;
    
}
/*** FIM CONTAINER ***/

/*** LOGOS NBA ***/

#logos-nba .logo1, .logo2{
    width: 100px;
    height: auto;
    position: fixed;
    bottom: 10px;  
}

.logo1 {   
    left: 0px;
}

.logo2 {  
    right: 0px;
}

/*** FIM LOGOS NBA ***/

/*** APRESENTAÇÃO ***/

#saudacoes{  
    text-align: center;
    justify-content: center;
    background:linear-gradient(100deg, rgb(95, 81, 159) 0%, rgb(205, 129, 116) 100%);
    border-radius: 50px;
    box-shadow: 0px 3px 10px rgb(145, 144, 144);
    height: 100px;    
}

#saudacoes h2{
    text-align: center;
    color: black;
    text-shadow: 1px 1px #ff0000;
    line-height: 50px;
}

/*** FIM APRESENTAÇÃO ***/

/*** ESCUDOS TIMES ***/

.times-nba{
    width: 27%;
    height: 27%;
    padding: 2px;
    margin: 20px;
    cursor: pointer;
    float: left;
   
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.clear{
    clear:both;
}

/*** FIM ESCUDOS TIMES ***/

/*** TíTULO EAST AND WEST ***/

.conferencia-leste h1 , 
.conferencia-oeste h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px #ff0000;
    margin: 2em;
    background:linear-gradient(100deg, rgb(95, 81, 159) 0%, rgb(205, 129, 116) 100%);
    border-radius: 50px;
    box-shadow: 0px 3px 10px rgb(145, 144, 144);
    padding: 5px;
   
}

/*** FIM TíTULO EAST AND WEST ***/

/*** TÍTULOS DIVISÕES ***/
.conferencia-leste h3,
.conferencia-oeste h3{
    text-align: center;
    width: 20em;
    margin: 2em auto;
    border-radius: 50px;
    line-height: 2em;
    background:linear-gradient(100deg, rgb(95, 81, 159) 0%, rgb(205, 129, 116) 100%);
    font-size: 21px;
    box-shadow: 0px 3px 10px rgb(145, 144, 144);
    color:#2d0f17;
    text-shadow: 2px 2px coral;
    font-family:'Bebas Neue' ;
}

/*** FIM TÍTULO DIVISÕES ***/



/***** CONFERÊNCIA LESTE - TIMES *****/

.bulls:hover {
    background-color: #d2153aed;
    box-shadow: 5px 5px 20px #d2153a;
    transform: scale(1.1);
}


.hawks:hover {
    background-color: #e03a3e;
    box-shadow: 5px 5px 20px #e03a3e;
    transform: scale(1.1);
}

.nets:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    transform: scale(1.1);
}

.cavs:hover {
    background-color: #860038;
    box-shadow: 5px 5px 20px #860038;
    transform: scale(1.1);
}


.detroit:hover {
    background-color: #ed174c;
    box-shadow: 5px 5px 20px #ed174c;
    transform: scale(1.1);
}

.indiana:hover {
    background-color: #ffc526;
    box-shadow: 5px 5px 20px #ffc526;
    transform: scale(1.1);
}

.miami:hover {
    background-color: #bf2f38;
    box-shadow: 5px 5px 20px #bf2f38;
    transform: scale(1.1);
}

.bucks:hover {
    background-color: #104622;
    box-shadow: 5px 5px 20px #104622;
    transform: scale(1.1);
}

.hornets:hover {
    background-color: #008fc5;
    box-shadow: 5px 5px 20px #008fc5;
    transform: scale(1.1);
}


.knicks:hover {
    background-color: #e76e32;
    box-shadow: 5px 5px 20px #e76e32;
    transform: scale(1.1);
}


.orlando:hover {
    background-color: #0474bc;
    box-shadow: 5px 5px 20px #0474bc;
    transform: scale(1.1);
}


.phila:hover {
    background-color: #ed174f;
    box-shadow: 5px 5px 20px #ed174f;
    transform: scale(1.1);
}


.toronto:hover {
    background-color: #d31245;
    box-shadow: 5px 5px 20px #d31245;
    transform: scale(1.1);
}


.wizards:hover {
    background-color: #db6778;
    box-shadow: 5px 5px 20px #e31837;
    transform: scale(1.1);
}


.boston:hover {
    background-color: #008248;
    box-shadow: 5px 5px 20px #008248;
    transform: scale(1.1);
}

/***** CONFERÊNCIA OESTE - TIMES *****/

.dallas:hover {
    background-color:#1061ac;
    box-shadow: 5px 5px 20px #1061ac;
    transform: scale(1.1);
}

.denver:hover {
    background-color:#4b90cd;
    box-shadow: 5px 5px 20px #1061ac;
    transform: scale(1.1);
}

.golden:hover {
    background-color:#fbbf16;
    box-shadow: 5px 5px 20px #fbbf16;
    transform: scale(1.1);
}

.houston:hover {
    background-color: white;
    box-shadow: 5px 5px 20px white;
    transform: scale(1.1);
}

.clippers:hover {
    background-color:#0446ac;
    box-shadow: 5px 5px 20px #0446ac;

    transform: scale(1.1);
}

.lakers:hover {
    background-color:#fdb827;
    box-shadow: 5px 5px 20px #fdb827;
    transform: scale(1.1);
}

.memphis:hover {
    background-color:#23375b;
    box-shadow: 5px 5px 20px #23375b;
    transform: scale(1.1);
}

.minnesota:hover {
    background-color:#0ea94e;
    box-shadow: 5px 5px 20px #0ea94e;
    transform: scale(1.1);
}

.pelicans:hover {
    background-color:#002a5c;
    box-shadow: 5px 5px 20px #002a5c;
    transform: scale(1.1);
}

.thunder:hover {
    background-color:#b44940;
    box-shadow: 5px 5px 20px #b44940;
    transform: scale(1.1);
}

.suns:hover {
    background-color:#3e2680;
    box-shadow: 5px 5px 20px #3e2680;
    transform: scale(1.1);
}

.portland:hover {
    background-color: #231f20;
    box-shadow: 5px 5px 20px #231f20 ;
    transform: scale(1.1);
}

.kings:hover {
    background-color: #393d94;
    box-shadow: 5px 5px 20px #393d94;
    transform: scale(1.1);
}

.spurs:hover {
    background-color: #c4ced4;
    box-shadow: 5px 5px 20px #c4ced4;
    transform: scale(1.1);
}

.jazz:hover {
    background-color: #0c2340;
    box-shadow: 5px 5px 20px #0c2340;
    transform: scale(1.1);
}

/***** rodape *****/

.rodape{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}

.rodape a{
    color: black;
    text-decoration: none;
    list-style: none;
    color:coral;
   
}
