/***** ESTILOS GERAIS DO SITE *****/

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Boogaloo&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;

}



body {
    background:  rgb(205, 129, 116) url(fundo/fundamentos-de-basquete-3d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* cobre 100% da tela de forma proporcional */

    background-attachment: fixed;
    /* fixa o fundo ao rolar */

    background-position: center center;
    /* centraliza horizontal e verticalmente */

    min-width: 360px;
    /* largura mínima que o layout suporta */
    min-height: 100vh;
    /* altura mínima da tela */

}


#cabecalho {
    background:linear-gradient(119deg, rgb(145, 144, 144) 30%, rgb(205, 129, 116) 100%);
    padding: 23px;
    box-shadow: 5px 5px 50px rgb(145, 144, 144);
    position: fixed;
    width: 100vw;
    z-index: 100;
    border-radius:0 0  300px 300px ;
    
}


.menu {

    align-items: center;
    justify-content: center;
}

.logos-nba img{
    width: 100px;
    height: auto;
    position: fixed;
    z-index: 0;
}

.logo1 {
    bottom: 10px;
    left: 0px;
}

.logo2 {
    bottom: 10px;
    right: 0px;
}

.pik img {
    width: 200px;
    height: 200px;
    padding: 2px;
    margin: 20px;
    cursor: pointer;
    float: left;
}

.container {
    margin: auto;
    width: 720px;
    padding-top: 250px;
}


.titulo-principal {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    
}

.sub-titulo {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    text-shadow: 2px 2px #ff0000;
    font-family: 'Georgia', serif;
}

.container h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    margin:100px;
    background:linear-gradient(119deg, rgb(145, 144, 144) 30%, rgb(205, 129, 116) 100%);
    border-radius: 50px;
    box-shadow: 5px 5px 50px rgb(145, 144, 144);
    padding: 5px;

}

.clear{
    clear:both;
}

.times-nba {
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.saudacoes{
    
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    background:linear-gradient(119deg, rgb(145, 144, 144) 30%, rgb(205, 129, 116) 100%);
    border-radius: 100px;
    padding: 30px;
    box-shadow: 5px 5px 50px rgb(145, 144, 144); 
}

.saudacoes h2{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #ff0000;
    font-family: 'Georgia', serif;
    font-size: 23px;

}
   






/***** CONFERÊNCIA LESTE - TIMES *****/

.bulls:hover {
    background-color: #d2153aed;
    box-shadow: 5px 5px 20px #d2153a;
    transform: scale(1.1);
}


.hawks:hover {
    background-color: #e03a3e;
    box-shadow: 5px 5px 20px #e03a3e;
    transform: scale(1.1);
}

.nets:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    transform: scale(1.1);
}

.cavs:hover {
    background-color: #860038;
    box-shadow: 5px 5px 20px #860038;
    transform: scale(1.1);
}


.detroit:hover {
    background-color: #ed174c;
    box-shadow: 5px 5px 20px #ed174c;
    transform: scale(1.1);
}

.indiana:hover {
    background-color: #ffc526;
    box-shadow: 5px 5px 20px #ffc526;
    transform: scale(1.1);
}

.miami:hover {
    background-color: #bf2f38;
    box-shadow: 5px 5px 20px #bf2f38;
    transform: scale(1.1);
}

.bucks:hover {
    background-color: #104622;
    box-shadow: 5px 5px 20px #104622;
    transform: scale(1.1);
}

.hornets:hover {
    background-color: #008fc5;
    box-shadow: 5px 5px 20px #008fc5;
    transform: scale(1.1);
}


.knicks:hover {
    background-color: #e76e32;
    box-shadow: 5px 5px 20px #e76e32;
    transform: scale(1.1);
}


.orlando:hover {
    background-color: #0474bc;
    box-shadow: 5px 5px 20px #0474bc;
    transform: scale(1.1);
}


.phila:hover {
    background-color: #ed174f;
    box-shadow: 5px 5px 20px #ed174f;
    transform: scale(1.1);
}


.toronto:hover {
    background-color: #d31245;
    box-shadow: 5px 5px 20px #d31245;
    transform: scale(1.1);
}


.wizards:hover {
    background-color: #db6778;
    box-shadow: 5px 5px 20px #e31837;
    transform: scale(1.1);
}


.boston:hover {
    background-color: #008248;
    box-shadow: 5px 5px 20px #008248;
    transform: scale(1.1);
}

/***** CONFERÊNCIA OESTE - TIMES *****/

.dallas:hover {
    background-color:#1061ac;
    box-shadow: 5px 5px 20px #1061ac;
    transform: scale(1.1);
}

.denver:hover {
    background-color:#4b90cd;
    box-shadow: 5px 5px 20px #1061ac;
    transform: scale(1.1);
}

.golden:hover {
    background-color:#fbbf16;
    box-shadow: 5px 5px 20px #fbbf16;
    transform: scale(1.1);
}

.houston:hover {
    background-color: white;
    box-shadow: 5px 5px 20px white;
    transform: scale(1.1);
}

.clippers:hover {
    background-color:#0446ac;
    box-shadow: 5px 5px 20px #0446ac;

    transform: scale(1.1);
}

.lakers:hover {
    background-color:#fdb827;
    box-shadow: 5px 5px 20px #fdb827;
    transform: scale(1.1);
}

.memphis:hover {
    background-color:#23375b;
    box-shadow: 5px 5px 20px #23375b;
    transform: scale(1.1);
}

.minnesota:hover {
    background-color:#0ea94e;
    box-shadow: 5px 5px 20px #0ea94e;
    transform: scale(1.1);
}

.pelicans:hover {
    background-color:#002a5c;
    box-shadow: 5px 5px 20px #002a5c;
    transform: scale(1.1);
}

.thunder:hover {
    background-color:#b44940;
    box-shadow: 5px 5px 20px #b44940;
    transform: scale(1.1);
}

.suns:hover {
    background-color:#3e2680;
    box-shadow: 5px 5px 20px #3e2680;
    transform: scale(1.1);
}

.portland:hover {
    background-color: #231f20;
    box-shadow: 5px 5px 20px #231f20 ;
    transform: scale(1.1);
}

.kings:hover {
    background-color: #393d94;
    box-shadow: 5px 5px 20px #393d94;
    transform: scale(1.1);
}

.spurs:hover {
    background-color: #c4ced4;
    box-shadow: 5px 5px 20px #c4ced4;
    transform: scale(1.1);
}

.jazz:hover {
    background-color: #0c2340;
    box-shadow: 5px 5px 20px #0c2340;
    transform: scale(1.1);
}

/***** rodape *****/

.rodape{
    text-align: center;
    padding: 30px;
}

/***** PÁGINAS DOS TIMES - ESTILO PADRÃO *****/


.cabecalho-times h1 {
   text-align: center;
   border: 1px solid red;
   max-width: 980px;
   margin: 0 auto;
   font-size: 45px; 
   color: coral;
   text-shadow: 2px 2px #2d0f17;
   font-family:'Bebas Neue' ;
   
}

.cabecalho-times h1 img {
    margin: 0 15px;
    background-color: #2d0f17 ;
    border-radius: 26px;
}

.conteudo-times h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    color: coral;margin-bottom: 10px;
    
}

.conteudo-times p{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color:rgb(255, 255, 255);
    line-height: 3;
    
}


.times-history{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.times-history{
    background: #121212;
   
}
    

.conteudo-times{
    border: 1px solid red;
    max-width: 980px;
    margin: 0 auto;
    padding: 30px; 
}



.rodape-times, .rodape-times a{
    text-align: center;
    padding: 30px;
    text-decoration: none;

}